<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <button type="button" class="js button" onclick="test(3,5)">버튼에 이름 넣기</button>
  <div></div>
  <button type="button" class="html2 button" onclick="location.href='../2'">html2 URL</button>
  <button type="button" class="kakao map test" onclick="get_api_key()">카카오 맵 테스트</button>
</body>
</html>

<script type="text/javascript" src="/static/js/test.js"></script>
<script type="text/javascript" src="/static/js/kakaomap.js"></script>
<script type="text/javascript" src="/../../api_key/api_key.json"></script>
